[submodule "linux"]
	path = linux
	url = https://github.com/miet-riscv-workgroup/linux
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/miet-riscv-workgroup/u-boot
[submodule "riscv-soc-cores"]
	path = riscv-soc-cores
	url = https://github.com/open-design/riscv-soc-cores
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "riscv-nmon"]
	path = riscv-nmon
	url = https://github.com/frantony/riscv-nmon
